VITE_API_URL=http://localhost:8000

VITE_PUSHER_KEY=local
VITE_PUSHER_CLUSTER=mt1
VITE_PUSHER_HOST=127.0.0.1
VITE_PUSHER_PORT=8080
VITE_PUSHER_TLS=false

VITE_PUSHER_AUTH_ENDPOINT=http://localhost:8000/api/broadcasting/auth
